@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");
@import "normalize";
@import "layout";
@import "elements";
body{
	// min-height: 100vh;
}
.ba-container{
	padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;
  @media screen and (min-width:640px){
	padding-left: 40px;
	padding-right: 40px;
  }
  @media screen and (min-width:1025px){
	padding-left: 72px;
	padding-right: 144px;
  }
}
//Hospitals-page
 .ba-hospitals{
	 margin: auto;
	 &__title{
		 text-align: left;
		 font-family: 'Montserrat';
		 font-style: normal;
		 font-weight: 800;
		 font-size: 26px;
		 line-height: 32px;
		 color: #29B8FF;
		 margin-top: 124px;
		 margin-bottom: 24px;
		 @media screen and (min-width:640px){
			 font-family: 'Montserrat';
			 font-style: normal;
			 font-weight: 800;
			 font-size: 40px;
			 line-height: 56px;
			 margin-top: 132px;
		 }
		 @media screen and (min-width:1025px){
		 font: 800 48px/64px 'Montserrat', sans-serif;
		 margin-top: 176px;
		 margin-bottom: 16px;
		 max-width: 848px;
		 }
	 }
	 &__subtitle{
		 text-align: left;
		 font-family: 'Fira Sans';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 18px;
		 line-height: 24px;
		 margin-bottom:76px;
		 @media screen and (min-width:640px){
			 font-family: 'Fira Sans';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 20px;
		 line-height: 24px;
		 }
		 @media screen and (min-width:1025px){
			 font-family: 'Fira Sans';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 22px;
		 line-height: 28px;
		 margin-top: 16px;
		 }
	 }
 }
 .blue{
	 padding: 4px 6px;
	 background: #D5F1FF;
 border-radius: 2px;
 margin-right:8px;
 }
 .ba-card{
	 width: 100%;
	 margin-bottom: 60px;
	 @media screen and (min-width:640px){
		 width:46%;
	 }
	 @media screen and (min-width:1025px){
	 width:46%;
	 }
	 &__button{

		 color:#32323E;
		 display: inline-block;
		 font-family: 'Fira Sans';
		 font-weight: 400;
		 font-size: 14px;
		 line-height: 24px;
		 outline: none;
		 border: none;
		 border-radius:5px;
		 background-color:#e9e6e6;
		 margin-top: 10px;
		 padding: 2px 10px;
		 &:hover{
			 color:#29B8FF;
			 background-color:#d7ece2;
			outline: none;
		 }
	 }
	 &__donate{
	 font-family: 'Fira Sans';
	 font-style: normal;
	 font-weight: 500;
	 font-size: 12px;
	 line-height: 16px;
	 color: #32323E;
	 }
	 &__title{
	 text-decoration: none;
	 font-family: 'Fira Sans';
	 font-style: normal;
	 font-weight: 600;
	 font-size: 16px;
	 line-height: 24px;
	 color: #32323E;
	 display: inline-block;
	 margin-top: 20px;
	 &:hover{
	 color: #29B8FF;
	 transition: 0.3s;
	 }
	 }
	 &__needs{
		 font-family: 'Fira Sans';
		 font-style: normal;
		 font-weight: normal;
		 font-size: 14px;
		 line-height: 20px;
		 color: #32323E;
		 margin:0;
		 padding-top: 10px;
		a{
			color: #32323E;
		}
	 }
	 &__information{
		 font-family: 'Fira Sans';
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 16px;
 color: #9495A2;
 margin-top: 16px;
 a{
	 color: #29B8FF;
	 text-decoration: underline;
 }
	 }
	 &__container{
		 display: flex;
		 margin-top: 67px;
		 margin-bottom: 10px;
		 flex-direction: column;
		 justify-content: space-between;
		 @media screen and (min-width:640px){
			 flex-direction: row;
			 max-width: 100%;
			 flex-wrap: wrap;
			 max-width: 1064px;
			 margin-bottom: 0;
		 }
	 }
	 }